[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pylint = "*"
safety = "*"
coverage = "*"
mypy = "*"

[packages]
djangorestframework = "*"
django-filter = "*"
psycopg2-binary = "*"
Django = "*"
Pillow = "*"

[requires]
python_version = "3.8"
